<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLcLmq19scl39RmRXmD8r1vAVEK7nbxzA</string>
	<key>GCM_SENDER_ID</key>
	<string>569903739616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xyph.notificationX1</string>
	<key>PROJECT_ID</key>
	<string>notificationx1-4fbaa</string>
	<key>STORAGE_BUCKET</key>
	<string>notificationx1-4fbaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569903739616:ios:5ac0face0f444e59a51685</string>
</dict>
</plist>